<div class="p-2 border-b shadow-sm">
  <header class="flex justify-between items-center px-8">
    <a href=""><img class="h-12 w-12" src="assets/logo.png" alt="" /></a>
    <div>
      <ul class="flex space-x-3">
        <li>
          <a href="/articulo" class="text-base font-bold hover:text-green-500"
            >Articulos</a
          >
        </li>
        <li>
          <a href="/form-agregar" class="text-base font-bold hover:text-green-500"
            >Agregar Articulo</a
          >
        </li>
      </ul>
    </div>
  </header>
</div>
