<div class="header p-2 mb-5">
  <header class="flex justify-between items-center px-8">
    <div class="flex space-x-3 items-center">
      <a href=""><img class="h-12 w-12" src="assets/logo.png" alt="" /></a>
      <a href="/articulo" class="text-base font-bold hover:text-green-500">Articulos</a>
      <a href="/form-agregar" class="text-base font-bold hover:text-green-500">Agregar Articulo</a>
    </div>

    <div>
      <ul class="flex space-x-3">
        <li>
          <a href="/form-agregar" class="text-base font-bold hover:text-green-500">Registrarse</a>
        </li>
        <li>
          <a href="/" class="text-base font-bold hover:text-green-500">Iniciar sesion</a>
        </li>
      </ul>
    </div>
  </header>
</div>