<div class="
max-w-2xl
mx-auto
py-24
px-4
grid
items-center
grid-cols-1
gap-y-16 gap-x-8
sm:px-6 sm:py-32
lg:max-w-7xl lg:px-8 lg:grid-cols-2
">
    <div class="rounded-sm p-4 border shadow-md" *ngFor="let articulo of articulos">
        <div class="flex justify-end"> 
          <button (click)="eliminarArticulo(articulo.id)">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
          </button>
        </div>
        <div class="flex items-center justify-center mb-8">
            <h1 class="font-extrabold text-3xl">{{ articulo.titulo }}</h1>
        </div>
        <div class="border rounded-lg descripcion p-10">
            <div class="">
                <h2 class="font-extrabold">{{ articulo.categoria }}</h2>
            </div>
            <p class="text-justify">
                {{ articulo.descripcion }}
            </p>
        </div>
        <div class="flex mt-10 justify-end">
            <div class="">
                <a href="" class="text-2xl">Author: <span class="italic">{{ articulo.autor }}</span></a>
            </div>
        </div>
    </div>
</div>
