<!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
  <div
    class="
      max-w-2xl
      mx-auto
      py-24
      px-4
      grid
      items-center
      grid-cols-1
      gap-y-16 gap-x-8
      sm:px-6 sm:py-32
      lg:max-w-7xl lg:px-8 lg:grid-cols-2
    "
  >
    <div>
      <h2
        class="text-3xl font-extrabold tracking-tig sm:text-4xl"
      >
        Consulta nuestros articulos
      </h2>
      <p class="mt-4 text-gray-100">
        En Mente Clara estamos para escucharte, contamos con la ayuda de varios
        profesionales de la Salud Mental, quienes te guiaran mediante los
        articulos segun tu necesidad. A continuacion encontraras cada una de las
        categorias a las que puedes acceder. Recuerda que siempre estamos para
        darte una mano.
      </p>

      <dl
        class="
          mt-16
          grid grid-cols-1
          gap-x-6 gap-y-10
          sm:grid-cols-2 sm:gap-y-16
          lg:gap-x-8
        "
      >
        <a href="/articulo" class="border p-8 border-gray-200  hover:shadow-md ease-in duration-700">
          <dt class="font-medium">Ansiedad</dt>
          <dd class="mt-2 text-sm text-gray-100">
            Varias razones que pueden despertar la ansiedad, te ensenamos a
            manejarla.
          </dd>
        </a>

        <a href="/articulo" class="border p-8 border-gray-200  hover:shadow-md ease-in duration-700">
          <dt class="font-medium ">Esquizofrenia</dt>
          <dd class="mt-2 text-sm text-gray-100">
            Multiples tipos de Esquizofrenia, encontraras guias y tratamientos.
          </dd>
        </a>

        <a href="/articulo" class="border p-8 border-gray-200  hover:shadow-md ease-in duration-700">
          <dt class="font-medium ">Fobias y Traumas</dt>
          <dd class="mt-2 text-sm text-gray-100">
            Nuestra mente guarda en el fondo los secretos de lo que mas tememos,
            podemos mostrarte el camino
          </dd>
        </a>

        <a href="/articulo" class="border p-8 border-gray-200  hover:shadow-md ease-in duration-700">
          <dt class="font-medium">Demencia</dt>
          <dd class="mt-2 text-sm text-gray-100">
            A cualquier edad puede estar presente y con diversas formas. Aca te
            guiamos
          </dd>
        </a>

        <a href="/articulo" class="border p-8 border-gray-200  hover:shadow-md ease-in duration-700">
          <dt class="font-medium ">Transtornos Afectivos</dt>
          <dd class="mt-2 text-sm text-gray-100">
            De los que menos se hablan y muchos callan, no dudes en tomar
            nuestra ayuda.
          </dd>
        </a>

        <a href="/articulo" class="border p-6 border-gray-200  hover:shadow-md ease-in duration-700">
          <dt class="font-medium">
            Otros trastornos neurologicos y mentales
          </dt>
          <dd class="mt-2 text-sm text-gray-100">
            Son demasiados los trastornos que hay en el mundo, no temas, aca
            encontraras mas ayuda.
          </dd>
        </a>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img
        src="assets/im1.jpg"
        alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
        class="bg-gray-100 rounded-lg"
      />
      <img
        src="assets/im0.jpg"
        alt="Top down view of walnut card tray with embedded magnets and card groove."
        class="bg-gray-100 rounded-lg"
      />
      <img
        src="assets/im3.jpg"
        alt="Side of walnut card tray with card groove and recessed card area."
        class="bg-gray-100 rounded-lg"
      />
      <img
        src="assets/im2.jpg"
        alt="Walnut card tray filled with cards and card angled in dedicated groove."
        class="bg-gray-100 rounded-lg"
      />
    </div>
  </div>
</div>
