<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="media.component.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/9f37ddf547.js"></script>
    <title>Mente Clara</title>
  </head>

  <body>
    <section class="live">
      <div class="person">
        <div class="profile-pic"></div>
        <p class="name">Martina</p>
      </div>
      <div class="person live-active">
        <div class="profile-pic"></div>
        <p class="name">Nathalia</p>
        <span><i class="fas fa-video"></i> Live</span>
      </div>
      <div class="person">
        <div class="profile-pic"></div>
        <p class="name">Camilo</p>
      </div>
      <div class="person">
        <div class="profile-pic"></div>
        <p class="name">Jimmy</p>
      </div>
      <div class="person">
        <div class="profile-pic"></div>
        <p class="name">Alex</p>
      </div>
      <div class="person">
        <div class="profile-pic"></div>
        <p class="name">Gabriela</p>
      </div>
      <div class="person">
        <div class="profile-pic"></div>
        <p class="name">Juliana</p>
      </div>
      <div class="person">
        <div class="profile-pic"></div>
        <p class="name">Javier</p>
      </div>
    </section>

    <section class="newsfeed">
      <div class="card">
        <div class="picture"></div>
        <div class="content">
          <div class="header">
            <div class="profile-pic"></div>
            <div class="detail">
              <p class="name">Martina</p>
              <p class="posted">Hace 30 min</p>
            </div>
          </div>
          <div class="desc">
            En las ultimas semanas he empezado a sufrir de unos fuertes ataques
            en el pecho y casi no puedo respirar cuando voy al supermercado, he
            tratado con todo pero nada me ha funcionado. Que puede ser? Me
            preocupa que la gente me vea asi. Alguien me podria ayudar ?
          </div>
          <div class="tags">
            <span>#party</span>
            <span>#colorful</span>
          </div>
          <div class="footer">
            <div class="like">
              <i class="fas fa-heart"></i>
              <span>12k</span>
            </div>
            <div class="comment">
              <i class="fas fa-comment"></i>
              <span>12k</span>
            </div>
            <div class="share">
              <i class="fas fa-share"></i>
              <span>12k</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="picture"></div>
        <div class="content">
          <div class="header">
            <div class="profile-pic"></div>
            <div class="detail">
              <p class="name">Javier</p>
              <p class="posted">Hace 1 hora</p>
            </div>
          </div>
          <div class="desc">
            Hola a todas las personas que leen este post, en mi experiencia he
            tenido que vivir con a lo largo de mi vida con el trastorno de
            Despersonalización, se que no es facil, pero he podido recopilar
            algunos consejos que quizas le sea util a alguien. - Generar un
            ambiente tranquilo, complicado dependiendo del estilo de vida de
            cada uno, todos tenemos una vida pero en lo posible busquemos
            mantenernos alejados de los conflictos y problemas. -Debemos revisar
            si no se debe a una crisis nerviosa, pues en momentos de mucha carga
            emocional la ansiedad genera unos ataques,pues a veces son estos
            peligros los que percibes a nivel mental que activan la señal de que
            algo anda mal y te regresan a un estado de alerta.
          </div>
          <div class="tags">
            <span>#party</span>
            <span>#colorful</span>
          </div>
          <div class="footer">
            <div class="like">
              <i class="fas fa-heart"></i>
              <span>12k</span>
            </div>
            <div class="comment">
              <i class="fas fa-comment"></i>
              <span>12k</span>
            </div>
            <div class="share">
              <i class="fas fa-share"></i>
              <span>12k</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="picture"></div>
        <div class="content">
          <div class="header">
            <div class="profile-pic"></div>
            <div class="detail">
              <p class="name">Gabriela</p>
              <p class="posted">Hace 3 horas</p>
            </div>
          </div>
          <div class="desc">
            Buen dia, queria preguntar si alguien conoce un lugar donde pueda
            recibir consulta, me da pena hablar de mi condicion y en verdad no
            tengo a nadie que me escuche. Hace un par de años que presento
            ataque de obsesivo-compulsivo, eso me ha generado muchos problemas
            en mi vida, al punto de no poder trabajar o compartir con otras
            personas. Por favor, solicito ayuda de un profesional, cualquier
            informacion estare pendiente.
          </div>
          <div class="tags">
            <span>#party</span>
            <span>#colorful</span>
          </div>
          <div class="footer">
            <div class="like">
              <i class="fas fa-heart"></i>
              <span>12k</span>
            </div>
            <div class="comment">
              <i class="fas fa-comment"></i>
              <span>12k</span>
            </div>
            <div class="share">
              <i class="fas fa-share"></i>
              <span>12k</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="nav">
      <div class="icon active">
        <i class="fas fa-fire"></i>
        <p>Home</p>
      </div>
      <div class="icon">
        <i class="fas fa-globe"></i>
        <p>Live</p>
      </div>
      <div class="icon">
        <i class="fas fa-comment-dots"></i>
        <p>Chats</p>
      </div>
      <div class="icon">
        <i class="fas fa-bell"></i>
        <p>Notifications</p>
      </div>
      <div class="icon">
        <i class="fas fa-user"></i>
        <p>Profile</p>
      </div>
    </section>

    <div class="space"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    <script src="main.js"></script>
  </body>
</html>
