@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: "Montserrat";
    background: #242c39;
    color: #fff;
}

input{
    background-color: #242c39;
}
